.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/*App Custome Editing*/
* {
    overflow: auto;
    scrollbar-width: none; /* hides scrollbar */
    -ms-overflow-style: none;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
    .container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('C:/Users/suraj/OneDrive/Desktop/challenge/src/Assets/g.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(2px);
        z-index:-1;
    }
.Page-Layout {
    position:absolute;
    transform:translate(0px);
    transition:all 0.4s ease;
    background-color: darkgoldenrod;
    height: 100%;
    width: 100%;
}

.Navbar {
    height: 9%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer-Menu {
    height: 10%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Menu, .User {
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 2rem;
    cursor:pointer;

}


.Options {
    /*    height: 45px;
    width: 45px;*/

    border-radius: 100%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.5rem;
    flex-shrink: 1.1;
    cursor:pointer;
}

.Options-M {
    /*    height: 55px;
    width: 55px;*/

    border-radius: 100%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 2rem;
    cursor:pointer;
}

.Item-box {
    height: 81%;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    align-items: center;
}

.Item-1, .Item-2, .Item-3, .Item-4 {
    height: 200px;
    width: 160px;
    background-color: red;
    margin: 30px auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor:pointer;
    overflow:hidden;
}

.Main-Menu {
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu-container{
    position:absolute;
    transform:translateX(-400px);
    transition:all 0.4s ease;
    height:100%;
    width:80%;
}
.Menu-Layout {
    height: 100vh;
    width: 100vw;
    
}
.open-close{
    height:70px;
    width:70px;
    background-color:forestgreen;
    position:absolute;
    top:10px;
    left:10px;
    border-radius:100%;
    transition:all 0.3s ease;
    opacity:0.5;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2.5rem;
}
.Menu-Buttons {
    height: 10%;
    width: 100%;
    background-color:inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Links {
    height: 100%;
    width: 100%;
    margin: 40px 10px 10px 10px;
    padding-left: 10px;
    overflow:hidden;
    font-family:cera pro;
}
a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
.icos{
    font-size:1.5rem;
    margin:0 10px 0 10px;
    height:10%;
    width:10%;
    
}